/* Estructura general */
.header {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    background-color: rgb(109, 243, 198);
}

/* Top bar con logo, título y carrito */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Logo */
.logo img {
    max-width: 60px;
    height: auto;
}

/* Título centrado */
.titulo {
    flex: 1;
    text-align: center;
    font-size: 40px;
    margin: 0;
    color: blueviolet;
}

/* Carrito */
.carrito {
    position: relative;
    font-size: 24px;
}

.contador {
    position: absolute;
    top: -8px;
    right: -8px;
    background: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 4px 6px;
    border-radius: 50%;
}

/* Menú de navegación */
.menu ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    border-top: 1px solid #ccc;
    transition: gap 0.3s ease-in-out;
}

.menu ul li a {
    transition: font-size 0.3s ease-in-out;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hamburger {
    /* Configuracion boton */
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 25px;
    left: 100px;
}

body {
    background-color: rgb(189, 241, 224);
}

.carousel {
    background-color: aquamarine;
}

.miImagenCarrusel {
    width: 100%;
    height: 700px;
    margin: 0 auto;
}

.seccion2 {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: aquamarine;
    gap: 20px;
}

.seccion2 p {
    font-size: 20px;
}

.seccion3 {
    background-color: rgb(189, 241, 224);
}

.solutions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    padding: 40px;
    max-width: 80%;
    margin: 0 auto;
}

.textoSec3 {
    flex-direction: column;
    justify-content: center;
    padding: auto;
    text-align: center;
    margin-top: 10px;
}

#price {
    color: rgb(15, 83, 63);
}

.oferta {
    border-width: 3px;
    border-color: red !important;
}

.card-img-top {
    width: auto;
    height: 200px;
}

.card {
    transition: all 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.seccion4 {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    background-color: aquamarine;
    gap: 20px;
}

.seccion4 p {
    font-size: 20px;
}

.footer {
    padding: 20px;
    background-color: rgb(15, 83, 63);
    color: white;
    text-align: center;
}

/* misPedidos quitar el hover */
.no-hover:hover {
    transform: none !important;
    box-shadow: none !important;
}

/* Contenedor cuadrado 1:1 y recorte de video */
.video-wrapper {
    width: 890px;
    height: 660px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
}

/* Video centrado y recortado */
.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media (min-width: 1025px) {
    .menu ul li a {
        font-size: 20px;
    }
}

@media(min-width: 651px) and (max-width: 1024px) {
    .menu ul {
        gap: 15px;
    }

    .menu ul li a {
        font-size: 12px;
    }

    .seccion4 p {
        font-size: 15px;
    }

}

@media(min-width: 851px) and (max-width: 1024px) {
    .video-wrapper {
        width: 850px;
        height: 600px;
    }
}

@media(min-width: 651px) and (max-width: 850px) {
    .video-wrapper {
        width: 550px;
        height: 350px;

    }
}

@media (max-width: 650px) {
    .top-bar {
        align-items: center;
    }

    .titulo {
        text-align: center;
        font-size: 25px;
    }

    .menu ul {
        display: none;
    }

    .menu.show ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .hamburger {
        display: block;
    }

    .miImagenCarrusel {
        max-width: 100%;
    }

    h2 {
        font-size: 20px;
    }

    .seccion2 p {
        font-size: 10px;
    }

    .seccion2 {
        display: flex;
        flex-direction: column;
    }

    .seccion4 {
        display: flex;
        flex-direction: column;
    }

    .seccion4 p {
        font-size: 10px;
    }

    .video-wrapper {
        width: 350px;
        height: 250px;
    }
}